html, body, div, img 
{
	margin: 0px; padding: 0px;
}

body {
	background-image: url("img/background.jpg"); 
	height: 700px;

}
.lang {
	position: relative;
	top: 0px;
	margin-left: 97%;
}
.lang2{
	display:none;
}

a {
	color: ;/* red*/
}
/*================================================================================================ */

/* Navigation*/

.hello {
	position: absolute;
	right: 6%;
	top: 0%;
	color: red;
}
b {
	color: #fff;
	}
#logout {
	position: absolute;
	right: 1%;
	top: 0.5%;

	

}	

#nav {
	position:absolute;
	top:0px;
	left: 37%;

}

.logo_head {
	position: absolute;
	top: -20px;
	left: 0%;
}
/* Buttons */
.myButtonNav {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fa4118), color-stop(1, #3a0503));
	background:-moz-linear-gradient(top, #fa4118 5%, #3a0503 100%);
	background:-webkit-linear-gradient(top, #fa4118 5%, #3a0503 100%);
	background:-o-linear-gradient(top, #fa4118 5%, #3a0503 100%);
	background:-ms-linear-gradient(top, #fa4118 5%, #3a0503 100%);
	background:linear-gradient(to bottom, #fa4118 5%, #3a0503 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa4118', endColorstr='#3a0503',GradientType=0);
	background-color:#fa4118;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButtonNav:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3a0503), color-stop(1, #fa4118));
	background:-moz-linear-gradient(top, #3a0503 5%, #fa4118 100%);
	background:-webkit-linear-gradient(top, #3a0503 5%, #fa4118 100%);
	background:-o-linear-gradient(top, #3a0503 5%, #fa4118 100%);
	background:-ms-linear-gradient(top, #3a0503 5%, #fa4118 100%);
	background:linear-gradient(to bottom, #3a0503 5%, #fa4118 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a0503', endColorstr='#fa4118',GradientType=0);
	background-color:#3a0503;
}
.myButtonNav:active {
	position:relative;
	top:1px;
}

/*End of Buttons */
/* End of Navigation */

/*================================================================================================ */
/*================================================================================================ */



/* Categories */

#nav2 {
	position: absolute;
	left: 35%;
}

#frame2 {
	position: absolute;
	margin-left: 8%;
	top:60px;
}
.text {
	position:absolute;
	top: 100px;
	right:13%;
}
#list {
	list-style: none;
	position: absolute;
	top: 200px;
	right: 15%;

}
.devil {
	position: absolute;
	top: 90px;
	left:5%;
	width: 40%;
}
#logo {
	
	margin-top: -20px;
}
/* Buttons */
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border:3px solid #353535;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:7px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin-top: 10px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #b2b2b2 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #b2b2b2 5%, #ededed 100%);
	background:-o-linear-gradient(top, #b2b2b2 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #b2b2b2 5%, #ededed 100%);
	background:linear-gradient(to bottom, #b2b2b2 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#b2b2b2;
}
.myButton:active {
	position:relative;
	top:1px;
}
a:hover
{
	color: #690100;
}


/*End of Buttons */
/* End of Categories */
/*================================================================================================ */
/*================================================================================================ */

/* Index */

#frame_home {
	position: absolute;
	top:220px;
	left: 35%;
	height: 382px;
	width: 30.2%;
}





.container {
	position: absolute;
	width: 30%;
	height: 280px;
	top: 220px;
	left:35%;
 	border: solid #fff 2px; 
	text-align: center;
	padding-top: 100px;
}
 /* End of Index */
 /*================================================================================================ */
/*================================================================================================ */
/* Game */
.container_game {
	position: absolute;
	width: 51%;
	height: 460px;
	top: 80px;
	left:47%;
 	border: solid #fff 2px; 
	text-align: center;
	padding-top: 60px;
	color: #ff0000;
	/*background-color: #C1C1C1 ; */
}
#frame_game {
	position: absolute;
	top:80px;
	left: 47%;
	height: 523px;
	width: 51.2%;
}
.devil_teaser {
	position: absolute;
	top: -20px;
	left:-90%;
	width: 94%;
}
#hang {
	margin-left: 10%;
	margin-top: 10px;
}

 /* End of Game */
 /*================================================================================================ */
/*================================================================================================ */
 
#foot{ 
	position:absolute;
	height:50px; 
	width: 100%;
 	text-align: center; 
	background-color:#595959;
	top:650px;
 
 } 
 .chess{
		background-color: #FFFF00;/*color for curent player*/
  }
  .white{
	  background-color: #FF0000;/*color for all players*/
  }

  .result{
	  position: absolute;
	top: 490px;
	left:38%;
	background-color:#FFFFFF;
  }
/*================================================================================================ */
/*================================================================================================ */

/* Project Info */

#frame3 {
	position: absolute;
	left: 22%;
	top: 130px;
}

#container_info {
	position: absolute;
	left: 24%;
	top: 160px;
	width: 60%;
	height: 400px;
	text-align: center;
	font-family: Arial, Verdana;
	font-size: 12pt;
	overflow: hidden;
	overflow-y:scroll;
}
span {
	font-weight: bold;
	color: #000;
}






 /* End of Info */
/*================================================================================================ */
/*================================================================================================ */

/* Contact Page  */

#container_form {
	position: absolute;
	left: 24%;
	top: 160px;
	width: 55%;
	height: 400px;
	text-align: center;
	font-family: Arial, Verdana;
	font-size: 16pt;
}

 /* End of Contact */
/*================================================================================================ */
/*================================================================================================ */